.topEditSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
}

.editForm {
    width: 465px;
}

.errorTitle,
.errorTitle2 {
    display: none;
}

.errorTitle.active,
.errorTitle2.active {
    display: block;
    top: 80%;
}

.editButtons {
    display: flex;
    justify-content: space-evenly;
}

.confirmButton.edit,
.SaveEdit {
    background-color: #4CAF50;
    color: white;
}

.confirmButton.edit:hover,
.SaveEdit:hover {
    background-color: #45a049;
}