.title {
    width: 250px;
}

.status {
    width: 100px;
}

.createdAt {
    width: 200px;
}

.To {
    background-color: #f17070;
}

.Doing {
    background-color: #e7ca57;
}

.Done {
    background-color: #49d182;
}